/* CONTACT/ABOUT/WRAP_INFO_ID CSS */


/* 
#menupointid.show {
    height: 2rem;
    width: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* border: 1.6px solid #000; 
    border: 1.5px solid white;
}

#menupointid.show:before,
#menupointid.show:after {
    position: absolute;
    content: '';
    width: 85%;
    height: 2px;
    /* cross thickness 
    background-color: white;
}

#menupointid.show:before {
    transform: rotate(45deg);
}

#menupointid.show:after {
    transform: rotate(-45deg);
} */

#close-btn,
#menupointid.show {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 1rem;
    height: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1000;
}

#close-btn:before,
#close-btn:after,
#menupointid.show:before,
#menupointid.show:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
}

#close-btn:before,
#menupointid.show:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#close-btn:after,
#menupointid.show:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hidden {
    display: none !important;
    /* Forcefully hide the elements */
}

.brand-name {
    font-weight: bold;
    line-height: 1.15;
    font-size: 1rem;
    font-family: 'Squeid Gameis';
    letter-spacing: 0.15rem;
}

.magazine-link {
    font-weight: bold;
    line-height: 1.15;
    font-size: 1.15rem;
    letter-spacing: 0.025rem;
    color: white;
    text-decoration: none;
}

.magazine-link strong {
    font-weight: bold;
    line-height: 1.15;
    font-size: 1.15rem;
    letter-spacing: 0.025rem;
    font-family: 'Squeid Gameis';
}

#backhome {
    top: 5vh;
    right: 4rem;
    height: 2rem;
    width: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999999;
}

.wrap_info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    letter-spacing: 0.025rem;
}

#abackhome {
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

#abackhome:before,
#abackhome:after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    /* cross thickness */
    background-color: white;
    top: 50%;
}

#abackhome:before {
    transform: rotate(45deg);
}

#abackhome:after {
    transform: rotate(-45deg);
}

.wrap_info {
    display: flex;
}

p.webdesign {
    color: var(--firstcolor);
    text-decoration: none;
}

.social-svg_0 {
    background-repeat: no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
}

.social-svg_1 {
    background-repeat: no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
    /* padding: 0 0 0 0.5rem; */
}

.social-svg_2 {
    background-repeat: no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
}

.social-svg_3 {
    background-repeat: no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
}

.social-svg_4 {
    background-repeat: no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
}

.social-svg_0:hover,
.social-svg_1:hover,
.social-svg_2:hover,
.social-svg_3:hover,
.social-svg_4:hover {
    filter: invert(55%) sepia(20%) saturate(1799%) hue-rotate(299deg) brightness(205%) contrast(100%);
}

#social_elements {
    position: relative;
    height: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}

.headlineaboutcontainer {
    text-align: center;
    padding-bottom: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 5vw;
}

.aboutcontainer {
    text-align: left;
    width: 40%;
    padding: 0 .5em .5em .5em;
    align-self: left;
    padding-left: 10%;
    font-size: auto !important;
}

.aboutcontainer_r {
    text-align: left;
    width: 40%;
    padding: 0 .5em .5em .5em;
    padding-left: 10%;
}

a.studiolist,
p.aboutlist {
    color: var(--firstcolor);
}

#aboutme3,
#aboutme2,
#aboutme1 {
    padding-top: 1.25rem;
}

.copyright {
    padding-right: auto !important;
}

@media screen and (max-width: 1000px) {
    #social_elements {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #social_elements {
        padding: 2rem;
    }
}

@media (min-width: 640px) {
    .copyright {
        padding-left: 0;
    }
    .privacy {
        padding-left: auto;
    }
}

@media screen and (max-width: 1250px) {
    #backhome {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .internalaboutcontainer {
        flex-wrap: wrap;
    }
    a.studiolist,
    p.aboutlist {
        width: 100%;
    }
    .wrap_info {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .aboutcontainer {
        align-self: left;
        width: 65%;
    }
    .aboutcontainer_r {
        align-self: left;
        width: 65%;
    }
}

@media screen and (min-width: 1000px) {
    .internalaboutcontainer {
        flex-wrap: nowrap;
    }
    a.studiolist,
    p.aboutlist {
        width: 100%;
    }
    .wrap_info {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
    }
    .aboutcontainer {
        padding: 2%;
        width: 40%;
        align-self: start;
    }
    .aboutcontainer_r {
        padding-left: 5%;
        padding: 2%;
        width: 40%;
        align-self: start;
        align-items: start;
        justify-content: flex-start;
        align-content: baseline;
        align-items: baseline;
        display: flex;
        flex-direction: column;
    }
    #close-btn {
        padding-top: .5rem;
    }
}