        *,
        *:before,
        *:after {
            box-sizing: border-box
        }
        
        body {
            align-items: center
        }
        
        .header.show {
            position: fixed;
            top: 0
        }
        
        .infogallery {
            text-decoration: none;
            letter-spacing: .15rem
        }
        
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            width: 90%;
            height: auto
        }
        
        .col {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: .5rem;
            margin-right: .5rem
        }
        
        .col picture img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: contain
        }
        
        @media screen and (max-width: 750px) {
            .row {
                flex-direction: column
            }
        }
        
        .modal {
            display: none;
            position: fixed;
            justify-content: center;
            align-items: center;
            z-index: 101;
            width: 100%;
            background-color: #fff;
            height: 100%
        }
        
        .modal-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            height: 100%
        }
        
        div.direction {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center
        }
        
        .slide {
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 90%;
            height: 100%;
            max-height: 100%
        }
        
        .image-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 95vw;
            /* min-width: 95vw; */
            height: 100%;
            max-height: 100vh;
            min-height: 100vh;
            z-index: -10;
            margin-bottom: auto;
            -o-object-fit: contain;
            object-fit: contain;
        }
        
        .modal-preview {
            width: auto
        }
        
        #layer {
            position: absolute;
            width: 100%;
            height: 100%
        }
        
        .directiontext {
            letter-spacing: .15rem;
            color: #fff;
            height: 0;
            top: 3.5rem;
            width: 100%;
            position: absolute;
            z-index: 999
        }
        
        .prev {
            touch-action: manipulation;
            position: fixed;
            left: 0;
            top: 4rem;
            padding: 0 45% 70vh 1rem;
            text-decoration: none
        }
        
        .nex {
            touch-action: manipulation;
            position: fixed;
            right: 0;
            top: 4rem;
            padding: 0 1rem 70vh 45%;
            text-decoration: none
        }
        
        .directiontext {
            color: transparent
        }
        
        img.preview,
        img.modal-preview {
            opacity: 1
        }
        
        @media screen and (max-width: 440px) {
            img.preview {
                width: 100%
            }
        }
        
        .preview:hover,
        .modal-preview:hover {
            opacity: .8
        }
        
        img.hover-shadow {
            transition: 0.3s
        }
        
        .close {
            color: var(--secondcolor);
            background: transparent;
            height: 40px;
            width: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: absolute;
            top: 15px;
            right: 30px;
            margin: auto;
            font-size: 100px;
            z-index: 505;
            line-height: 100px;
            color: transparent;
            background: black;
            text-decoration: none;
            cursor: pointer;
            width: 0px;
            margin: auto;
            background: black;
            margin: 0rem;
            padding: 4px;
            padding-top: 8px;
            transition: width .125s;
            rotate: 0deg;
            height: 20px;
        }
        
        .close:hover,
        .close:focus {
            color: var(--firstcolor);
            text-decoration: none;
            cursor: pointer;
            animation: spin .025s cubic-bezier(0.42, 0, 0.38, 0.62);
        }
        
        @keyframes spin {
            from {
                transform: translateY(0%);
            }
            to {
                transform: translateY(-1.5px);
            }
        }
        
        #close-pointer:hover {}
        
        .arrow {
            border: solid #000;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px
        }
        
        .right {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }
        
        .left {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg)
        }
        
        .arrows {
            width: 100%;
            position: absolute;
            height: 0;
            z-index: 999999;
            touch-action: manipulation;
            top: 48%
        }
        
        .left {
            left: .2rem;
            position: absolute;
            margin: .5rem;
            cursor: pointer
        }
        
        .right {
            right: .2rem;
            position: absolute;
            margin: .5rem;
            cursor: pointer
        }
        
        .modal-content {
            position: relative;
            max-height: 70%
        }
        /*
        .slide1,
        .slide2,
        .slide3,
        .slide4,
        .slide5,
        .slide6,
        .slide7,
        .slide8,
        .slide9,
        .slide10,
        .slide11,
        .slide12,
        .slide13,
        .slide14,
        .slide15 {
            position: absolute;
            top: 0;
            bottom: 0
        } */
        
        #videoslide {
            width: 90%;
            align-content: center;
            align-items: center;
            align-self: center;
            justify-content: center;
            position: relative;
            height: 100%;
            z-index: 2147483647;
            margin-bottom: 2em;
            margin-top: 2em
        }
        
        .videoclass {
            height: calc(100%);
            margin-bottom: auto;
            max-width: 95% !important
        }
        
        .projecttitle {
            display: none;
            position: absolute;
            width: 100%;
            height: 2rem;
            color: transparent;
            font-size: 1.5em;
            z-index: -1;
            line-height: 1em;
            text-align: center
        }
        
        .infogallery {
            margin: 0 1rem 0 1rem;
            line-height: 1em;
            color: var(--textcolor)
        }
        
        .creditlinks {
            height: 6rem;
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column
        }
        
        @media screen and (min-width: 1000px) {
            .infogallery {
                position: fixed;
                left: 0
            }
        }
        
        .infolink_3:hover,
        .infolink_4:hover {
            color: var(--firstcolor);
            margin-left: 1.5rem
        }
        
        @media screen and (max-width: 1000px) {
            #infolink_2,
            #infolink_3,
            #infolink_4 {
                display: none !important
            }
        }
        
        @media screen and (min-width: 1000px) {
            #infolink_2,
            #infolink_3,
            #infolink_4 {
                display: flex !important
            }
        }
        
        @media screen and (max-width: 1000px) {
            .infolink_2,
            .infolink_3,
            .infolink_4 {
                display: none !important
            }
        }
        
        @media screen and (min-width: 1000px) {
            .infolink_2,
            .infolink_3,
            .infolink_4 {
                display: flex !important
            }
        }
        
        .nextpointer {
            position: absolute;
            z-index: 999999;
            left: 0;
            top: 0;
            font-size: 3rem;
            height: 3rem;
            color: black;
            padding-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            font-weight: bolder;
        }
        
        #before-pointer {
            top: 3rem;
            color: transparent;
            z-index: 909090019193997879
        }
        
        .laptop-menu {
            height: 7rem;
            top: 0;
            position: absolute;
            left: 0;
            width: 4rem;
            z-index: 999999987
        }
        
        @media screen and (max-width: 1000px) {
            .projecttitle {
                top: 2em
            }
            .laptop-menu {
                height: 100vh;
                z-index: 99999;
            }
            #before-pointer {
                position: absolute;
                bottom: 1rem;
                margin-top: auto;
                z-index: 999999;
                cursor: pointer;
                color: black;
            }
            .projecttitle {
                font-size: .8em
            }
            .creditlinks {
                display: none
            }
        }
        
        @media screen and (min-width: 1000px) {
            .projecttitle {
                top: .75em
            }
            .laptop-menu:hover #before-pointer {
                color: black !important;
                display: flex
            }
            .modal-content {
                max-height: ''
            }
            a.projecttitellink {
                color: black;
            }
        }
        
        @media screen and (max-width: 1000px) {
            a.projecttitellink {
                color: transparent
            }
        }
        
        a.projecttitellink {
            text-decoration: none;
            position: absolute;
            right: 1rem;
            bottom: -85vh;
            z-index: 999999999;
        }